.mdc-drawer__header:last-child {
    padding-bottom: 1em;
}

.drawer__app-version-meta-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.drawer__app-version-meta-container::before {
    content: none;
}

.mdc-list-item {
    cursor: pointer;
    user-select: none;
}

@media print {
    .mdc-drawer, .mdc-drawer-scrim {
        display: none !important;
    }
}
