.mdc-drawer__content {
    padding-bottom: 5em;
}

.mdc-drawer__header:last-child {
    padding-bottom: 1em;
}

.mdc-drawer__subtitle + .mdc-drawer__subtitle {
    margin-top: 1em;
}

.mdc-list-item {
    cursor: pointer;
    user-select: none;
}

@media print {
    .mdc-drawer, .mdc-drawer-scrim {
        display: none !important;
    }
}
