:root {
    --project-thumbnail-width: 8em;
}

.project-template-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--project-thumbnail-width), 1fr));
    grid-auto-rows: max-content;
    grid-gap: 1em;
}

.new-project-dialog .mdc-dialog__surface {
    width: 560px;
}
