:root {
    --project-thumbnail-width: 10em;
}

.project-template-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--project-thumbnail-width));
    grid-auto-rows: max-content;
    grid-gap: 1em;
}

.new-project-dialog .mdc-dialog__surface {
    width: 560px;
}
