#roster > .sidebar__scrollable-container {
    padding-top: 0;
}

@media screen and (min-width: 800px) {
    .roster__no-sections-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.roster__droppable-section-area:not(:last-child) {
    margin-bottom: var(--sidebar-padding);
}

.roster__droppable-section-area:not(:first-child) > .roster__region-heading-container {
    border-top: 1px solid #ccc;
}

.roster__region-heading-container {
    padding: 0 var(--sidebar-padding);
    margin: 0 calc(-1 * var(--sidebar-padding));
    background-color: #efefef;
    font-size: .9rem;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roster__region-heading-container .mdc-menu-surface--anchor {
    width: var(--sidebar-titlebar-height);
    height: var(--sidebar-titlebar-height);
}

.roster__region-heading-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
