.seat-list-item {
    counter-increment: section-seat-num;
    display: flex;
    align-items: center;
    font-size: .8rem;
    transition: box-shadow .1s ease, background-color .1s ease;
    border-bottom: 1px solid #ccc;
}

.seat-list-item::before {
    content: counter(section-seat-num) '. ';
    padding: calc(.5 * var(--sidebar-padding));
    padding-left: var(--sidebar-padding);
    min-width: 1.5em;
    text-align: right;
}

.seat-list-item > *, .seat-list-item::before {
    transition: transform .1s ease, opacity .1s ease;
    transform-origin: center;
}

.seat-list-item--drop-disabled {
    background-color: #eee;
    z-index: -1;
}

.seat-list-item--drop-disabled > *, .seat-list-item--drop-disabled::before {
    opacity: .5;
    transform: scale(.95);
}

.seat-list-item--drop-hover {
    outline: 1px solid currentColor;
    z-index: 1;
    border-bottom-color: transparent;
}
