.section-list-item {
    background-color: #fff;
    margin-top: var(--sidebar-padding);
}

.section-list-item__titlebar {
    padding: var(--sidebar-padding);
    font-size: .9rem;
    border-bottom: 1px solid #ccc;
}
  
.section-list-item__seat {
  margin-left: calc(2 * var(--sidebar-padding));
}

.section-list-item__member-list {
    counter-set: section-seat-num var(--start-seat-num);
    padding: 0;
    margin: 0;
}
