:root {
    --section-layout-dialog-seat-size: 2rem;
    --section-layout-dialog-bg: #efefef;
    --section-layout-dialog-seat-margin: .5em;
}

.section-layout-container {
    --section-layout-border: 1px solid #ccc;
    border-top: var(--section-layout-border);
    border-bottom: var(--section-layout-border);
    box-shadow: inset 0 0 .5em rgba(0,0,0,.125);
    background-color: var(--section-layout-dialog-bg);
    overflow: auto;
    padding-left: calc(1.5rem + var(--sidebar-padding));
    padding-right: var(--sidebar-padding);
    margin-left: calc(-1 * var(--sidebar-padding));
    margin-right: calc(-1 * var(--sidebar-padding));
}

.section-layout-row {
    padding: .5em 0;
    white-space: nowrap;
}

.section-layout-row--dragging-over {
    background-color: #fff;
}

.section-layout-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.section-layout-row__meta-and-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-layout-item {
    display: inline-block;
    vertical-align: top;
    width: var(--section-layout-dialog-seat-size);
    height: var(--section-layout-dialog-seat-size);
    border: 1px solid #333;
    margin-right: var(--section-layout-dialog-seat-margin);
    cursor: grab;
    position: relative;
    box-sizing: border-box;
}

.section-layout-item:hover {
    background-color: #fff;
    box-shadow: 0 0 .5em rgba(0,0,0,.125);
}

.section-layout-item--placeholder {
    border: 1px dashed #999;
    cursor: default;
    background-color: transparent;
    position: sticky;
    right: var(--section-layout-dialog-seat-margin);
    background-color: var(--section-layout-dialog-bg);
}

.section-layout-item__delete-button {
    --section-layout-item-delete-theme: #999;
    position: absolute;
    top: 0;
    right: 0;
    font-size: .75em;
    width: 50%;
    height: 50%;
    padding: 0;
    display: inline-block;
    border: none;
    color: var(--section-layout-item-delete-theme);
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-layout-item__delete-button:hover {
    --section-layout-item-delete-theme: red;
    background-color: #fff;
    border-left-color: var(--section-layout-item-delete-theme);
    border-bottom-color: var(--section-layout-item-delete-theme);
}
