.sidebar-title {
    background-color: #efefef;
    margin: 0;
    padding: 0 var(--sidebar-padding);
    line-height: 48px;
    font-weight: lighter;
    z-index: 1;
    display: flex;
    align-items: center;
    z-index: 2;
}

.sidebar-title__back-button {
    margin-left: calc(-1 * var(--sidebar-padding));
}

.sidebar-title__delete-button {
    margin-left: auto;
}
