.sidebar {
    --sidebar-padding: 1rem;
    grid-area: sidebar;
    border-top: 1px solid #aaa;
}

.sidebar__scrollable-container {
    padding: var(--sidebar-padding);
}

@media screen and (min-width: 800px) {
    .sidebar {
        border-top: none;
        border-left: 1px solid #aaa;
        position: relative;
        transition: transform .15s ease-in-out;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .sidebar--collapsed {
        transform: translateX(100%);
    }

    .sidebar__scrollable-container {
        flex-grow: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media print {
    .sidebar {
        display: none !important;
    }
}
