.sidebar {
    --sidebar-padding: 1rem;
    grid-area: sidebar;
    border-top: 1px solid #aaa;
}

.sidebar__scrollable-container {
    padding: var(--sidebar-padding) var(--sidebar-padding) 0;
}

.sidebar__scrollable-container > :last-child {
    margin-bottom: var(--sidebar-padding);
}

@media screen and (min-width: 800px) {
    .sidebar {
        --sidebar-transition-duration: .15s;
        border-top: none;
        border-left: 1px solid #aaa;
        position: relative;
        transition: transform var(--sidebar-transition-duration) ease-in-out, visibility 0s linear 0s;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .sidebar--collapsed {
        transform: translateX(100%);
        transition-delay: 0s, var(--sidebar-transition-duration);
        visibility: hidden;
    }

    .sidebar__scrollable-container {
        flex-grow: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media print {
    .sidebar {
        display: none !important;
    }
}
