:root {
    --sidebar-transition-duration: .15s;
}

.sidebar {
    --sidebar-padding: .75rem;
    --sidebar-titlebar-height: 35px;
    grid-area: sidebar;
    border-top: 1px solid #aaa;
}

.sidebar__scrollable-container {
    padding: var(--sidebar-padding) var(--sidebar-padding) 0;
}

.sidebar__scrollable-container > :last-child {
    margin-bottom: var(--sidebar-padding);
}

@media screen and (min-width: 800px) {
    .sidebar {
        border-top: none;
        border-left: 1px solid #aaa;
        position: relative;
        transition: transform var(--sidebar-transition-duration) ease-in-out;
        display: flex;
        flex-direction: column;
        overflow: visible;
        min-height: 0;
        background-color: #fff;
    }

    .sidebar__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
        transition: visibility 0s linear 0s;
    }

    .sidebar--collapsed {
        transform: translateX(100%);
    }

    .sidebar--collapsed > .sidebar__content {
        visibility: hidden;
        transition-delay: var(--sidebar-transition-duration);
    }

    .sidebar__scrollable-container {
        flex-grow: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

@media print {
    .sidebar {
        display: none !important;
    }
}
