#stage {
    grid-area: stage;
    padding: 2em;
    min-height: 320px;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    #stage.stage--expanded {
        grid-area: stage / stage / roster / roster;
    }
}

@media print {
    #stage {
        position: absolute;
        background-color: #fff;
    }
}
