html {
    font-size: 16px;
    color: #333;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#loading-cover[hidden] {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease, visibility 0s linear .2s;
}

#loading-message {
    margin-top: 2em;
}

.offline-mode > #loading-cover {
    display: none;
}

@media screen and (min-width: 800px) {
    body {
        overflow: hidden;
    }
    
    #root {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'toolbar toolbar'
                             'rendering-area sections-area';
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

#sections-list {
    grid-area: sections-area;
    overflow: visible;
    border-top: 1px solid #aaa
}

.sections-list__toggle-button {
    display: none;
}

@media screen and (min-width: 800px) {
    #sections-list {
        border-top: none;
        border-left: 1px solid #aaa;
        position: relative;
        transition: transform .15s ease-in-out;
    }

    .sections-list--collapsed {
        transform: translateX(100%);
    }

    .sections-list__scrollable-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .sections-list__toggle-button {
        display: inline-flex;
        position: absolute;
        top: 1em;
        right: 100%;
        width: 3em;
        height: 3em;
        align-items: center;
        justify-content: center;
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid #aaa;
        border-top-left-radius: .25em;
        border-bottom-left-radius: .25em;
        transition: background-color .1s ease;
    }

    .sections-list__toggle-button:hover {
        background-color: rgba(0, 0, 0, .05);
    }

    .sections-list__toggle-button:active {
        background-color: rgba(0, 0, 0, .1);
    }

    .sections-list__toggle-button:focus {
        outline: 0;
    }
}

.sections-list--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.sections-list__droppable-section-area:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.sections-list__region-heading-container {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #efefef;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections-list__region-heading-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sections-list__section-container {
    background-color: #fff;
    margin: 1em 1em 0 1em;
}

.sections-list__section-container  .mdc-list-group {
    border: 1px solid #ddd;
}

*:not(.sections-list__section-container) + .sections-list__section-container {
    margin-top: 2em;
}

.sections-list__section-container:last-child {
    margin-bottom: 2em;
}

.mdc-drawer__content {
    padding-bottom: 5em;
}

.mdc-drawer__header:last-child {
    padding-bottom: 1em;
}

.mdc-drawer__subtitle + .mdc-drawer__subtitle {
    margin-top: 1em;
}

.mdc-list-item {
    cursor: pointer;
    user-select: none;
}

.mdc-button__icon > svg {
    fill: currentColor;
    max-width: 100%;
    max-height: 100%;
}

#rendering-area {
    grid-area: rendering-area;
    padding: 2em;
    min-height: 320px;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    #rendering-area.rendering-area--expanded {
        grid-area: rendering-area / rendering-area / sections-area / sections-area;
    }
}

.ensemble-row {
    white-space: nowrap;
    position: relative;
}

.seat {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border: 1px solid #aaa;
    vertical-align: top;
    cursor: default;
    user-select: none;
    white-space: normal;
    overflow: visible;
    box-sizing: border-box;
    position: absolute;
}

.seat--implicit {
    border-style: dashed;
}

.seat--implicit:not(.seat--occupied) {
    opacity: .5;
}

.seat__click-surface {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.rendering-area__stage {
    margin: auto;
    flex-shrink: 0;
    position: relative;
}

.rendering-area__stage:not(:only-child):not(:last-child) {
    margin-bottom: 1em;
}

.rendering-area__stage:not(:only-child):not(:first-child) {
    margin-top: 1em;
}

#rendering-toolbar {
    grid-area: toolbar;
    position: sticky;
    top: 0;
    z-index: 1;
}

.color-square {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.text-input-wrapper:not(:first-child) {
    margin-top: 1em;
}

button > svg, button > .rmwc-icon {
    pointer-events: none;
}

@media print {
    #rendering-toolbar, #sections-list, .mdc-drawer, .mdc-drawer-scrim {
        display: none !important;
    }

    #rendering-area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
}
