:root {
    --dialog-width: 480px;
}

html {
    font-size: 16px;
    color: #333;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

button {
    touch-action: manipulation;
}

#loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#loading-cover[hidden] {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease, visibility 0s linear .2s;
}

#loading-message {
    margin-top: 2em;
}

.offline-mode > #loading-cover {
    display: none;
}

@media screen and (min-width: 800px) {
    html {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
    }
    
    #app {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'toolbar toolbar'
                             'stage sidebar';
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.mdc-button__icon > svg {
    fill: currentColor;
    max-width: 100%;
    max-height: 100%;
}

.color-square {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.text-input-wrapper:not(:first-child) {
    display: block;
    margin-top: 1em;
}

button > svg, button > .rmwc-icon {
    pointer-events: none;
}
